<div class="container px-4 sm:px-0">
	<div class="inline-flex items-center gap-2 text-xl font-semibold leading-loose">
		Take a look at what we do
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="-mt-2 h-3 w-3"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
			/>
		</svg>
	</div>
</div>

<div
	class="mt-10 flex w-[calc(100%*8)] animate-spin-low sm:w-[calc(100%*6)] md:mt-16 md:w-[calc(100%*4)] lg:w-[calc(100%*2)]"
>
	<!-- Grid -->
	<div class="flex flex-1 gap-6">
		<card count="1" link=".\assets\img\carousel\optim\01.webp" width="450" height="337"></card>
		<card count="2" link=".\assets\img\carousel\optim\02.webp" width="450" height="337"></card>
		<card count="3" link=".\assets\img\carousel\optim\03.webp" width="450" height="337"></card>
		<card count="4" link=".\assets\img\carousel\optim\04.webp" width="450" height="281"></card>
		<card count="1" link=".\assets\img\carousel\optim\01.webp" width="450" height="337"></card>
		<card count="2" link=".\assets\img\carousel\optim\02.webp" width="450" height="337"></card>
		<card count="3" link=".\assets\img\carousel\optim\03.webp" width="450" height="337"></card>
		<card count="4" link=".\assets\img\carousel\optim\04.webp" width="450" height="281"></card>
	</div>
</div>
