<div class="media-container">
	<div class="media-scroller">
		<!--   Group 1 -->
		<div
			class="media-group animate-carousel container"
			style="
				--background-carousel-before: url('assets/img/carousel/optim/03.webp');
				--background-carousel-after: url('assets/img/carousel/optim/02.webp');
			"
			id="group-1"
		>
			@for (item of links; track item) {
			<div class="media-element overflow-hidden rounded-xl">
				<img priority [ngSrc]="item" width="450" height="337" class="h-full w-full object-cover" />
			</div>
			}
		</div>
	</div>
</div>
