<div class="flex">
	<p class="pr-4 text-xl font-semibold leading-none">How much is it?</p>
	<span class="block flex-1 border-b-2 border-stone-300"></span>
</div>

<div class="mt-5 md:mt-8">
	<div class="relative">
		<!-- Grid -->
		<div class="flex flex-wrap">
			<div class="h-auto w-full pb-3 md:w-1/2 md:pb-8 md:pr-3">
				<!-- Card -->
				<div
					class="flex h-full w-full flex-col justify-between rounded-2xl border-2 border-stone-950 bg-gradient-to-br from-orange-100 to-white px-8 py-10 shadow"
				>
					<div>
						<h3 class="text-base font-semibold lg:text-xl">Starter</h3>

						<div class="mt-2">
							<span class="text-2xl font-semibold md:text-3xl">1999,00 €</span>
							<span class="ml-1 text-neutral-500">/mo.</span>
						</div>
						<div class="pt-2">Pause or cancel anytime</div>

						<div class="pt-4 md:pt-6">
							<p>Up to 20 hours per month of our time for your team to use however you need</p>
						</div>
					</div>

					<div class="py-4 first:pt-0 last:pb-0">
						<button
							type="button"
							class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent bg-gray-800 px-4 py-3 text-sm font-semibold text-white hover:bg-gray-900 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
						>
							Get started
						</button>
					</div>
				</div>
				<!-- End Card -->
			</div>

			<div class="h-auto w-full pb-3 md:w-1/2 md:pb-8 md:pl-3">
				<!-- Card -->
				<div
					class="flex h-full w-full flex-col justify-between rounded-2xl border-2 border-stone-950 bg-gradient-to-br from-orange-100 to-white px-8 py-10 shadow"
				>
					<div>
						<h3 class="inline-flex items-center justify-center text-base font-semibold lg:text-xl">
							Monthly
							<span class="ml-2 rounded-xl bg-orange-500 px-3 py-1.5 text-xs leading-none"
								>Most popular</span
							>
						</h3>

						<div class="mt-2">
							<span class="text-2xl font-semibold md:text-3xl">4999,00 €</span>
							<span class="ml-1 text-neutral-500">/mo.</span>
						</div>
						<div class="pt-2">Pause or cancel anytime</div>

						<div class="pt-4 md:pt-6">
							<p>Gives you the most freedom. Perfect to start and try our services</p>
						</div>
					</div>

					<div class="py-4 first:pt-0 last:pb-0">
						<button
							(click)="openDialog()"
							type="button"
							class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent bg-gray-800 px-4 py-3 text-sm font-semibold text-white hover:bg-gray-900 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
						>
							Get started
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
