<div class="flex">
  <p class="text-xl pr-4 font-semibold leading-none">How does it work?</p>
  <span class="block border-b-2 border-stone-300 flex-1"></span>
</div>

<ul class="mt-16 text-sm">
  <li class="">
    <div class="flex items-center">
      <span
        class="h-12 w-12 mr-4 flex text-[32px] font-semibold justify-center items-center rounded-full bg-orange-500 text-black dark:bg-orange-500"
      >
        1
      </span>
      <p class="text-center text-[32px] font-semibold dark:text-white">
        Subcribe
      </p>
    </div>

    <p class="leading-loose mt-4 text-xl">
      Once you've subscribed you'll be invited a private Trello board where
      you'll get every piece of information needed to start sending requests
      into the queue.
    </p>
  </li>
  <li class="mt-16">
    <div class="flex items-center">
      <span
        class="h-12 w-12 mr-4 flex text-[32px] font-semibold justify-center items-center rounded-full bg-orange-500 text-black dark:bg-orange-500"
      >
        2
      </span>
      <p class="text-center text-[32px] font-semibold dark:text-white">
        Receive
      </p>
    </div>

    <p class="leading-loose mt-4 text-xl">
      After a couple days of making your request you will have something great
      in your hands.
    </p>
  </li>
  <li class="mt-16">
    <div class="flex items-center">
      <span
        class="h-12 w-12 mr-4 flex text-[32px] font-semibold justify-center items-center rounded-full bg-orange-500 text-black dark:bg-orange-500"
      >
        3
      </span>
      <p class="text-center text-[32px] font-semibold dark:text-white">
        Revise
      </p>
    </div>

    <p class="leading-loose mt-4 text-xl">
      Don't worry, if it's not perfect, we'll revise it as many times as you
      like until it is. All good? Move onto the next request.
    </p>
  </li>
</ul>
