<div class="col-start-4 col-end-10">
  <nav
    Navbar
    class="relative justify-center items-center w-full"
    aria-label="Global"
  ></nav>
  <header header></header>
</div>
<section class="col-span-12" iconSection></section>
<div class="col-start-4 col-end-10">
  <div class="timeline"></div>
  <div class="capabilities"></div>
  <div id="pricing" class="price"></div>
  <div class="faq"></div>
  <hr />
  <div class="w-[804px] h-[99px] bg-white border-t border-b border-stone-300">
    <div
      class="text-center text-stone-950 text-base font-normal font-['Inter'] leading-tight"
    >
      Still have questions? Book your 15 minutes free call
    </div>
  </div>
</div>
