<div class="container block px-6">
	<nav Navbar class="relative w-full items-center justify-center" aria-label="Global"></nav>
	<header header></header>
</div>
<section iconSection></section>
<div class="block lg:container">
	<div class="timeline"></div>
	<div class="capabilities"></div>
	<div id="pricing" class="price"></div>
	<div class="faq"></div>
	<hr />
	<div class="h-[99px] w-[804px] border-b border-t border-stone-300 bg-white">
		<div class="text-center font-['Inter'] text-base font-normal leading-tight text-stone-950">
			Still have questions? Book your 15 minutes free call
		</div>
	</div>
</div>
