<section class="container block">
	<nav Navbar aria-label="Global"></nav>
	<header header></header>
</section>
<section carousel class="-mx-4 overflow-hidden pt-5 md:pt-8 lg:-mx-6"></section>
<section class="block lg:container">
	<div class="timeline pt-10 md:pt-16"></div>
	<div class="capabilities pt-10 md:pt-16"></div>
	<div class="price pt-10 md:pt-16"></div>
	<div class="after pt-10 md:pt-16"></div>
	<div class="faq pt-10 md:pt-16"></div>
	<div class="border-b border-t border-stone-300 bg-white py-5 md:py-8">
		<div class="flex flex-wrap items-center justify-between">
			<span class="w-full md:w-2/3">Still have questions?</span>
			<button
				type="button"
				(click)="popup()"
				class="mt-4 inline-flex w-full items-center justify-center rounded-2xl bg-stone-950 px-8 py-5 text-center text-base font-semibold text-white hover:bg-gray-900 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 md:mt-0 md:w-1/3"
			>
				Book a call
			</button>
		</div>
	</div>
	<div>
		<form>
			<input [formControl]="email" type="text" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="This is placeholder">
			<button
				type="button"
				(click)="saveEmail()"
				class="mt-4 inline-flex w-full items-center justify-center rounded-2xl bg-stone-950 px-8 py-5 text-center text-base font-semibold text-white hover:bg-gray-900 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 md:mt-0 md:w-1/3"
			>
				send
			</button>
		</form>
	</div>
	<div class="py-5 md:py-8">
		<div class="flex flex-wrap items-center justify-between">
			<span class="w-full md:w-1/2">{{ 'Company Name @2023 | Belgium' }}</span>
			<span class="w-full text-right md:w-1/2">Behind the scene</span>
		</div>
	</div>
</section>
