<!-- Hero -->
<div class="overflow-hidden">
  <div class="max-w-[85rem] pt-12">
    <div class="relative max-w-4xl grid space-y-5 sm:space-y-10">
      <!-- Title -->
      <div class="">
        <h1
          class="text-3xl font-bold lg:leading-[4.2rem] text-gray-800 font-bold sm:text-5xl lg:text-6xl dark:text-gray-200"
        >
          Design <br />
          Development <br />
          One subscription
        </h1>
      </div>
      <span class="leading-loose">
        All-in-one digital subscription. Unlimited requests and revisions. Tasks
        will be completed one by one in 2-3 business days on average. No
        freelancers, just swift digital solutions.
      </span>
    </div>
  </div>
</div>
<!-- End Hero -->
