<!-- Hero -->
<div class="overflow-hidden">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <div class="relative mx-auto max-w-4xl grid space-y-5 sm:space-y-10">
      <!-- Title -->
      <div class="">
        <h1
          class="text-3xl text-gray-800 font-bold sm:text-5xl lg:text-6xl lg:leading-tight dark:text-gray-200"
        >
          Design and Development, hassle-free.
        </h1>
      </div>
      <ul class="list-none list-inside text-gray-900 dark:text-gray-200">
        <li
          class="decoration-blue-200 decoration-2 underline underline-offset-16 py-4"
          *ngFor="let val of text"
        >
          {{ val }}
        </li>
      </ul>
      <!-- End Title -->
    </div>
  </div>
</div>
<!-- End Hero -->
