<div class="flex py-16">
  <p class="text-xl pr-4 font-semibold leading-none">FAQ</p>
  <span class="block border-b-2 border-stone-300 flex-1"></span>
</div>

<div class="hs-accordion-group" data-hs-accordion-always-open>
  <div class="hs-accordion" id="heading-one">
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="heading-one-collapse-one"
    >
      <span class="text-[32px] font-semibold"
        >Why company instead of hiring?</span
      >
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="heading-one-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>

  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-two"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two"
    >
      <span class="text-[32px] font-semibold"
        >How quickly will i receive my work</span
      >
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-two"
      class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>

  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold">why no calls or meetings</span>
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>

  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold"
        >What does "One request at a time" mean?</span
      >
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>

  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold"
        >How do i manage my subscription?</span
      >
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>

  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold">Are there any refunds?</span>
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>
  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold">Are there any refunds?</span>
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>
  <div
    class="hs-accordion"
    id="hs-basic-with-title-and-arrow-stretched-heading-one"
  >
    <button
      class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400"
      aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
    >
      <span class="text-[32px] font-semibold"
        >What if i don't like the work?</span
      >
      <div class="flex items-center">
        <span
          class="h-12 w-12 flex text-[32px] font-semibold justify-center border-2 items-center rounded-full text-black"
        >
          <ng-icon name="heroPlusSolid"></ng-icon>
        </span>
      </div>
    </button>
    <div
      id="hs-basic-with-title-and-arrow-stretched-collapse-one"
      class="hs-accordion-content w-full overflow-hidden hidden transition-[height] duration-300"
      aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <p class="text-gray-800 dark:text-gray-200">
        <em>This is the third item's accordion body.</em> It is hidden by
        default, until the collapse plugin adds the appropriate classes that we
        use to style each element. These classes control the overall appearance,
        as well as the showing and hiding via CSS transitions.
      </p>
    </div>
  </div>
</div>
